# DataFrame

In [6]:
import pandas as pd

l = [1,2,3,4,5,6]
var = pd.DataFrame(l)

var

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [8]:
# To check type
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [14]:
# Using Dictionary
# Data inside the dictionary, data must be balanced

d = { "a":[1,2,3,4,5], "s":[10,12,33,42,5]}

var1 = pd.DataFrame(d)
var1

   a   s
0  1  10
1  2  12
2  3  33
3  4  42
4  5   5

In [18]:
# For unbalance data, it will show error
d1 = { "a":[1,2,3], "s":[10,33,42,5]}

var2 = pd.DataFrame(d1)
var2

ValueError: All arrays must be of the same length

### Work with Column of a DataFrame

In [31]:
d = { "a":[1,2,3,4,5], "s":[10,12,33,42,5], "d":[1,2,4,5,3], 1:[2,5,3,2,3]}

var1 = pd.DataFrame(d, columns=["a", 1, "d"])
var1

   a  1  d
0  1  2  1
1  2  5  2
2  3  3  4
3  4  2  5
4  5  3  3

In [35]:
# Changing index no.
var1 = pd.DataFrame(d, columns=["a", 1, "d"], index=["a","s","d","f","g"])
var1

   a  1  d
a  1  2  1
s  2  5  2
d  3  3  4
f  4  2  5
g  5  3  3

In [45]:
# Getting particular value
var1 = pd.DataFrame(d)
var1
print(var1)
print()
print(var1["a"][3]) #provide first column then row

   a   s  d  1
0  1  10  1  2
1  2  12  2  5
2  3  33  4  3
3  4  42  5  2
4  5   5  3  3

4

In [51]:
# Using list

list_1 = [[1,2,3,4,5], [11,12,13,14,15]]

var2 = pd.DataFrame(list_1)

print(type(var2))
print(var2)

<class 'pandas.core.frame.DataFrame'>
    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

## Creating DataFrame with Series

In [55]:
sr = {"s":pd.Series([1,2,3,4]), "r":pd.Series([1,2,3,4])}

var3 = pd.DataFrame(sr)

print(var3)

   s  r
0  1  1
1  2  2
2  3  3
3  4  4